.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
  }
  .card {
    margin: 1% 2% !important;
  }
  
  .infected {
    border-bottom: 10px solid blue;
    box-shadow: 5px 5px 5px #222;
  }
  
  .recovered {
    border-bottom: 10px solid #70af23;
    box-shadow: 5px 5px 5px #222;
  }
  
  .deaths {
    border-bottom: 10px solid firebrick;
    box-shadow: 5px 5px 5px #222;
  }
  
  @media only screen and (max-width: 770px) {
    .card {
      margin: 2% 0 !important;
    }
  }